*{

margin:0;
padding:0;
box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--white);

font-family:'Poppins',sans-serif;

overflow-x:hidden;

}

section{

padding:120px 8%;

position:relative;

}

a{

text-decoration:none;

color:inherit;

}

ul{

list-style:none;

}

img{

display:block;

max-width:100%;

}

button{

font-family:inherit;

cursor:pointer;

}